
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.offer {
    background-color: rgb(48, 47, 47);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 3px 0px 3px 0px;
}
header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
header input[type="text"] {
    width: 82vw;
    height: 3vh;
}
header a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: black;
    padding: 10px 10px 10px 5px;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
}

