
.big_container {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 800px;
  align-self: center;
}
.item {
  height: 300px;
  width: 200px;
  border: 1px black solid;
  margin: 10px;
  font-family: sans-serif;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.item img {
  height: 50px;
}
.item a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    
    border-radius: 30px;
}
.item:hover {
    background-color: purple;
    color: white;
}
.item:hover a {
    background-color: white;
    color: purple;
    
}
.item:hover img {
  filter: invert(1);
}
