body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.navbar_left {
  display: flex;
  align-items: start;
  width: 20%;
  width: 250px;
  height: 250px;
  position: sticky;
  top: 0;
  padding-right: 20px;
}
.central_navbar {
  width: 100%;
 
}
.main_content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  
}
body p {
  text-align: justify;
  padding-right: 20px;
}

ul {
  list-style: outside;
  list-style-type: none;
}
li a:link {
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}

.main_container h2 {
  font-size: 20px;
}

.side_table {
  
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
  
  
}
table thead {
  background-color: lightblue;
}
table th {
  height: 50px;
  
}
.navismall {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px grey solid;
  margin-bottom: 5px;
  padding: 5px;
}
.navismall div {
  padding: 5px;
}
.crew {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.crew th {
  background-color: grey;
  border: 1px solid black;
  width: 250px;
  height: 40px;
}

.crew td {
  border: 1px solid black;
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-around;
  position: sticky;
}

ul {
  list-style: circle;
}
.szöveg {
  
  float: left;
  flex-wrap: wrap;
 
}
.navbar_left li a:visited {
  color: black;
}
