:root {
  --background-color: rgb(234, 158, 18);
  --background-color-light: rgb(241, 220, 182);
}
body {
  margin: 0px;
}
.main {
  width: 100vw;
  height: max(100vh);
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-columns: 1fr 10fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  background-color: var(--background-color-light);
}
.main > header {
  grid-area: header;
  background-color: var(--background-color);
}
.main > footer {
  grid-area: footer;
  background-color: var(--background-color);
}
.icon {
  height: 100%;
}
.navbar {
    display: flex;
    flex-direction: column;
}
