.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
}
.container span {
    background-color: rgba(175, 238, 238, 0.562);
    margin: 10px;
    align-content: center;
}
.A {
    grid-column: span 2;
}
.B {
    grid-row: span 2;
}
